* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 80vh;
    background-color: crimson;
}

/* need to coloring to: for cards, game title, player name, # of turns played, high score, pokemon, and background*/

