* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 80vh;
    display: flex;
    background-color: rgba(36, 218, 36, 0.932);
}

.game {
    width: 500px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid red;
    perspective: 1000px;
}

.card {
    width:calc(20% - 10px);
    height:calc(25% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 1s;
}

.card:active {
    transform: scale(.95);
    transform: transform .2s;
}

.card.flip {
    transform: rotateY(180deg);
}
.frontOfCard,
.backOfCard {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 5px;
    background: red;
}

img {
    width: 100px;
    height: 100px;
}
/* need to coloring to: for cards, game title, player name, # of turns played, high score, pokemon, and background*/

